In [45]:
# This tells matplotlib not to try opening a new window for each plot.
%matplotlib inline

# General libraries.
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# SK-learn libraries for learning.
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.neural_network import MLPRegressor

# SK-learn libraries for evaluation.
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import classification_report

# SK-learn library for importing the newsgroup data.
from sklearn.datasets import fetch_20newsgroups

# SK-learn libraries for feature extraction from text.
from sklearn.feature_extraction.text import *

from sklearn.model_selection import train_test_split

import nltk

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
full_train = pd.read_json('/content/drive/MyDrive/1 MIDS/W207 Applied Machine Learning/Final Project/train.json', lines=True)
full_train = full_train.set_index(keys='index')
full_train.info()
full_train.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2400 entries, 0 to 2399
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2400 non-null   object
 1   sequence             2400 non-null   object
 2   structure            2400 non-null   object
 3   predicted_loop_type  2400 non-null   object
 4   signal_to_noise      2400 non-null   float64
 5   SN_filter            2400 non-null   int64
 6   seq_length           2400 non-null   int64
 7   seq_scored           2400 non-null   int64
 8   reactivity_error     2400 non-null   object
 9   deg_error_Mg_pH10    2400 non-null   object
 10  deg_error_pH10       2400 non-null   object
 11  deg_error_Mg_50C     2400 non-null   object
 12  deg_error_50C        2400 non-null   object
 13  reactivity           2400 non-null   object
 14  deg_Mg_pH10          2400 non-null   object
 15  deg_pH10             2400 non-null   object
 16  deg_Mg_50C           2400 non-null   object
 17  deg_50C              2400 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 356.2+ KB

                 id  ...                                            deg_50C
index                ...
0      id_001f94081  ...  [0.6382, 3.4773, 0.9988, 1.3228, 0.78770000000...
1      id_0049f53ba  ...  [7.6692, 0.0, 10.9561, 0.0, 0.0, 0.0, 0.0, 0.0...
2      id_006f36f57  ...  [0.9501000000000001, 1.7974999999999999, 1.499...
3      id_0082d463b  ...  [7.6692, -1.3223, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
4      id_0087940f4  ...  [0.0, 5.1198, -0.3551, -0.3518, 0.0, 0.0, 0.0,...

[5 rows x 18 columns]

In [8]:
full_test = pd.read_json('/content/drive/MyDrive/1 MIDS/W207 Applied Machine Learning/Final Project/test.json', lines=True)
full_test = full_test.set_index(keys='index')
full_test.info()
full_test.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3634 entries, 0 to 3633
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   3634 non-null   object
 1   sequence             3634 non-null   object
 2   structure            3634 non-null   object
 3   predicted_loop_type  3634 non-null   object
 4   seq_length           3634 non-null   int64
 5   seq_scored           3634 non-null   int64
dtypes: int64(2), object(4)
memory usage: 198.7+ KB

                 id  ... seq_scored
index                ...
0      id_00073f8be  ...         68
1      id_000ae4237  ...         91
2      id_00131c573  ...         68
3      id_00181fd34  ...         68
4      id_0020473f7  ...         91

[5 rows x 6 columns]

The test set is a mixture of 'private test' and 'public test' data, differ by seq_length/ seq_score, should seperate the two sets.

In [9]:
public_test = full_test[full_test.seq_length==107]
private_test = full_test[full_test.seq_length==130]
print(public_test.shape)
print(private_test.shape)

(629, 6)
(3005, 6)

In [6]:
perc =[.20, .40, .60, .80]
include =['object', 'float', 'int']
descriptive_summary = full_train.describe(percentiles = perc, include = include)

descriptive_summary

                  id  ...                                            deg_50C
count           2400  ...                                               2400
unique          2400  ...                                               2385
top     id_8c53bd1ba  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
freq               1  ...                                                 15
mean             NaN  ...                                                NaN
std              NaN  ...                                                NaN
min              NaN  ...                                                NaN
20%              NaN  ...                                                NaN
40%              NaN  ...                                                NaN
50%              NaN  ...                                                NaN
60%              NaN  ...                                                NaN
80%              NaN  ...                                                NaN
max              NaN  ...                                                NaN

[13 rows x 18 columns]

The data is structured quite complicated with different length for sequences can be different in different data set, so just double check that length is expected.

In [15]:
def check_seq_length (data,seq, expected_length):
  return data.apply(lambda x:len(x[seq]) == x[expected_length], axis = 1)

for seq in ['sequence', 'structure', 'predicted_loop_type']: 
  print(f'Is the length for {seq} as expected?', all(check_seq_length(full_train, seq, 'seq_length')))


for seq in ['reactivity', 'deg_Mg_pH10', 'deg_pH10', 'deg_Mg_50C', 'deg_50C']: 
  print(f'Is the length for {seq} as expected?', all(check_seq_length(full_train, seq, 'seq_scored')))

Is the length for sequence as expected? True
Is the length for structure as expected? True
Is the length for predicted_loop_type as expected? True
Is the length for reactivity as expected? True
Is the length for deg_Mg_pH10 as expected? True
Is the length for deg_pH10 as expected? True
Is the length for deg_Mg_50C as expected? True
Is the length for deg_50C as expected? True

In [28]:
token2int = {x:i for i, x in enumerate('().ACGUBEHIMSX')}

def tokenise(data, dic):
  temp = list(data.sequence) + list(data.structure) +list(data.predicted_loop_type)
  temp = np.array(temp)

  k = np.array(list(dic.keys()))
  v = np.array(list(dic.values()))

  # Get argsort indices
  sidx = k.argsort()

  ks = k[sidx]
  vs = v[sidx]
  return vs[np.searchsorted(ks,temp)]

In [29]:
full_train['feature_array'] = full_train.apply(lambda x: tokenise(x, token2int), axis = 1)

In [43]:
np.array(full_train['feature_array'].tolist()).shape

(2400, 321)

In [47]:
 # split into a training and a dev data 
 
 train_data, dev_data = train_test_split(
    full_train, test_size=.1, random_state=34)
 train_data

                 id  ...                                      feature_array
index                ...
1449   id_9bdb90d72  ...  [5, 5, 3, 3, 3, 3, 5, 5, 5, 3, 4, 4, 4, 3, 5, ...
393    id_29fb577aa  ...  [5, 5, 3, 3, 3, 4, 4, 3, 3, 3, 6, 6, 5, 5, 3, ...
2291   id_f444474b3  ...  [5, 5, 3, 3, 3, 3, 4, 3, 3, 4, 3, 3, 5, 5, 4, ...
262    id_1aea9d2f3  ...  [5, 5, 3, 3, 3, 3, 5, 5, 6, 5, 4, 5, 3, 5, 5, ...
418    id_2bf4417d3  ...  [5, 5, 3, 3, 3, 6, 3, 5, 4, 3, 4, 4, 3, 4, 3, ...
...             ...  ...                                                ...
1675   id_b60ff5a1e  ...  [5, 5, 3, 3, 3, 5, 4, 5, 3, 3, 3, 5, 4, 3, 4, ...
1571   id_a9c646544  ...  [5, 5, 3, 3, 3, 5, 6, 4, 5, 3, 4, 4, 3, 4, 3, ...
324    id_20e11048d  ...  [5, 5, 3, 3, 3, 4, 5, 4, 5, 3, 3, 6, 3, 3, 3, ...
1897   id_cc08b2cdc  ...  [5, 5, 3, 3, 3, 5, 6, 6, 5, 5, 5, 6, 5, 5, 6, ...
1146   id_7ad7fdd17  ...  [5, 5, 3, 3, 3, 5, 3, 5, 6, 3, 4, 5, 3, 5, 6, ...

[2160 rows x 19 columns]